<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TOrderMapper">

    <resultMap id="BaseResultMap" type="generator.domain.TOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tUserId" column="t_user_id" jdbcType="BIGINT"/>
            <result property="tUserName" column="t_user_name" jdbcType="VARCHAR"/>
            <result property="tPhone" column="t_phone" jdbcType="VARCHAR"/>
            <result property="tAddress" column="t_address" jdbcType="VARCHAR"/>
            <result property="tTotalPrice" column="t_total_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,t_user_id,t_user_name,
        t_phone,t_address,t_total_price
    </sql>
</mapper>
