<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TProductMapper">

    <resultMap id="BaseResultMap" type="generator.domain.TProduct">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tProName" column="t_pro_name" jdbcType="VARCHAR"/>
            <result property="tProPrice" column="t_pro_price" jdbcType="DECIMAL"/>
            <result property="tProStock" column="t_pro_stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,t_pro_name,t_pro_price,
        t_pro_stock
    </sql>
</mapper>
